@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-bg: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$nunito-font: "Nunito Sans", sans-serif;
$font-size: 1rem;
$font-size-sm: 0.9rem;
$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;

$sm: 500px;
$m: 900px;
$lg: 1300px;
